name: CD

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Check cluster
      run: kubectl config get-contexts
      
    - name: Deploy to Kubernetes
      run: |
        kubectl apply -f k8s/

