name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4

    - name: Login to GHCR
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Build image
      run: |
        docker build -t ghcr.io/tbauirzhan/nginx-demo:${{ github.sha }} .
        docker tag ghcr.io/tbauirzhan/nginx-demo:${{ github.sha }} ghcr.io/tbauirzhan/nginx-demo:latest

    - name: Push image
      run: |
        docker push ghcr.io/tbauirzhan/nginx-demo:${{ github.sha }}
        docker push ghcr.io/tbauirzhan/nginx-demo:latest
  deploy:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Check cluster
      run: kubectl config get-contexts

    - name: Deploy to Kubernetes
      run: |
        kubectl apply -f k8s/


